﻿@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Akanksha cutie pie :)</title>
        
        <style type="text/css" media="screen and (max-device-width: 480px)">
            body {
                background: url(Images/ak_final.jpg) no-repeat center center fixed;

                -webkit-background-size: contain;
                -moz-background-size: contain;
                -o-background-size: contain;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }

        </style>
        
        <style type="text/css" media="screen and (min-device-width: 481px)">
            body {
                background: url(Images/ak_final.jpg) no-repeat center center fixed;

                -webkit-background-size: contain;
                -moz-background-size: contain;
                -o-background-size: contain;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

        </style>

        


    </head>
    <body >
        <div>
        </div>
    </body>
</html>